# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/

# Selenium / Allure
allure-results/
allure-report/
*.png

# Логи
logs/
*.log

# IDE
.idea/
.vscode/

# Screenshots
base/screens/